.card {
    background-color: red;
    border: 3px solid #ff0000;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.card .title {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.card .content {
    padding: 10px;
    background-color: white;
    color: black;
}

